---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import FirstImage from '~/assets/images/artcenter_9.jpg';
import SecondImage from '~/assets/images/artcenter_5.jpg';
import ThirdImage from '~/assets/images/artcenter_2.jpg';

const metadata = {
  title: 'ArtCenter - Śląski Serwis Floty',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header isSticky />
  </Fragment>

  <Hero2
    tagline=""
    callToAction2={{ text: 'Skontaktuj się z nami', href: '#contact' }}
    image={{
      src: FirstImage.src,
      alt: 'ArtCenter Workshop Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent text-gray-700 dark:text-white highlight">ŚLASKI SERWIS FLOTY</span>
    </Fragment>

    <Fragment slot="subtitle">
      Wieloletnie doświadczenie we współpracy z klientami flotowymi gwarantuje odpowiednią jakość oraz niestandardowe
      rozwiązania, które do minimum ograniczają czas potrzebny do wykonania przeglądu lub usunięcia awarii. Specjalne
      programy flotowe z gwarancją mobilności włącznie.
    </Fragment>
  </Hero2>

  <Content
    isReversed
    items={[
      {
        title: 'Cenimy Twój czas',
        description:
          'Odpręż się w naszej poczekalni przy kawie lub herbacie. W międzyczasie my zajmiemy się Twoim samochodem.',
      },
      {
        title: 'Ty pracujesz, my naprawiamy',
        description: `Posiadamy odpowiednie zaplecze do tego abyś mógł w spokoju i wygodnie popracować.`,
      },
    ]}
    image={{
      src: SecondImage.src,
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Serwis w którym czekanie na samochód staję się przyjemnością <br /><span class="text-2xl"
          >Czekaj z klasą, u nas to standard</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Zarezerwuj samochód zastępczy',
      },
      {
        title: 'Skorzystaj z usługi odbioru pojazdu',
      },
      {
        title: 'Odkryj miasto na dwóch kołach - wypożycz rower',
      },
      {
        title: 'A może eko? Przygotowaliśmy dla Ciebie hulajnogę elektryczną',
      },
    ]}
    image={{
      src: ThirdImage.src,
      alt: 'ArtCenter Front Workshop Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Wizyta w serwisie? <br /><span class="text-2xl">Nie zmieniaj planów</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps2
    id="contact"
    title="Skontaktuj się z nami"
    subtitle="Masz pytania? Wybierz jedną z form kontaktu lub odwiedź nas w naszym biurze."
    items={[
      {
        title: 'Napisz emaila',
        description: 'biuro@artcenter.com.pl',
        icon: 'tabler:mail',
      },
      {
        title: 'Zadzwoń do nas',
        description: '+48 508 353 720',
        icon: 'tabler:headset',
      },
      {
        title: 'Nasze biuro',
        description: 'ul. Borki 1A, 40-348 Katowice',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
