<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="150"
    class="md:w-[200px] md:h-[150px]"
    zoomAndPan="magnify"
    viewBox="0 0 382.5 74.999997"
    height="50"
    preserveAspectRatio="xMidYMid meet"
    version="1.0"
    ><defs
      ><g></g><clipPath id="713d2ec856"
        ><path d="M 354 23 L 382 23 L 382 67 L 354 67 Z M 354 23 " clip-rule="nonzero"></path></clipPath
      ></defs
    ><g fill="#000000" fill-opacity="1" class="dark:text-white fill-current"
      ><g transform="translate(0.0366671, 66.879097)"
        ><g
          ><path
            d="M 59.40625 0 L 46.359375 0 L 41.234375 -13.390625 L 17.59375 -13.390625 L 12.71875 0 L 0 0 L 23.046875 -59.15625 L 35.6875 -59.15625 Z M 21.234375 -23.390625 L 37.421875 -23.390625 L 29.25 -45.359375 Z M 21.234375 -23.390625 "
          ></path></g
        ></g
      ></g
    ><g fill="#000000" fill-opacity="1" class="dark:text-white fill-current"
      ><g transform="translate(59.681953, 66.879097)"
        ><g
          ><path
            d="M 25.78125 -43.796875 C 26.988281 -43.796875 28.265625 -43.601562 29.609375 -43.21875 C 30.960938 -42.832031 32.164062 -42.332031 33.21875 -41.71875 L 29.65625 -31.8125 C 27.726562 -33.019531 25.96875 -33.625 24.375 -33.625 C 22.226562 -33.625 20.601562 -32.894531 19.5 -31.4375 C 18.394531 -29.976562 17.660156 -27.941406 17.296875 -25.328125 C 16.941406 -22.710938 16.765625 -19.226562 16.765625 -14.875 L 16.765625 0 L 5.453125 0 L 5.453125 -42.796875 L 15.953125 -42.796875 L 15.953125 -36.765625 L 16.109375 -36.765625 C 17.484375 -39.078125 18.859375 -40.828125 20.234375 -42.015625 C 21.617188 -43.203125 23.46875 -43.796875 25.78125 -43.796875 Z M 25.78125 -43.796875 "
          ></path></g
        ></g
      ></g
    ><g fill="#000000" fill-opacity="1" class="dark:text-white fill-current"
      ><g transform="translate(91.817703, 66.879097)"
        ><g
          ><path
            d="M 17.84375 -42.796875 L 25.53125 -42.796875 L 25.53125 -33.796875 L 17.84375 -33.796875 L 17.84375 -14.953125 C 17.84375 -13.140625 17.910156 -11.789062 18.046875 -10.90625 C 18.191406 -10.019531 18.484375 -9.382812 18.921875 -9 C 19.359375 -8.613281 20.046875 -8.421875 20.984375 -8.421875 C 22.140625 -8.421875 23.65625 -8.78125 25.53125 -9.5 L 26.515625 -0.75 C 25.359375 -0.195312 23.953125 0.226562 22.296875 0.53125 C 20.648438 0.832031 19.082031 0.984375 17.59375 0.984375 C 15.445312 0.984375 13.546875 0.628906 11.890625 -0.078125 C 10.242188 -0.796875 9.035156 -1.757812 8.265625 -2.96875 C 7.429688 -4.351562 6.914062 -5.882812 6.71875 -7.5625 C 6.53125 -9.238281 6.4375 -11.34375 6.4375 -13.875 L 6.4375 -33.796875 L 1.234375 -33.796875 L 1.234375 -42.796875 L 6.4375 -42.796875 L 6.4375 -51.3125 L 17.84375 -58 Z M 17.84375 -42.796875 "
          ></path></g
        ></g
      ></g
    ><g fill="#00387b" fill-opacity="1"
      ><g transform="translate(119.351443, 66.879097)"
        ><g
          ><path
            d="M 31.484375 -60.15625 C 37.535156 -60.15625 42.65625 -58.679688 46.84375 -55.734375 C 51.03125 -52.785156 53.8125 -48.472656 55.1875 -42.796875 L 43.375 -39.984375 C 42.65625 -43.078125 41.191406 -45.503906 38.984375 -47.265625 C 36.785156 -49.023438 34.09375 -49.90625 30.90625 -49.90625 C 26.28125 -49.90625 22.671875 -48.265625 20.078125 -44.984375 C 17.484375 -41.710938 16.1875 -36.71875 16.1875 -30 C 16.1875 -23.820312 17.25 -18.816406 19.375 -14.984375 C 21.5 -11.160156 25.285156 -9.25 30.734375 -9.25 C 34.203125 -9.25 37.007812 -10.347656 39.15625 -12.546875 C 41.3125 -14.753906 42.859375 -17.816406 43.796875 -21.734375 L 55.359375 -18.09375 C 53.765625 -11.644531 50.84375 -6.851562 46.59375 -3.71875 C 42.351562 -0.582031 37.09375 0.984375 30.8125 0.984375 C 25.46875 0.984375 20.757812 -0.25 16.6875 -2.71875 C 12.613281 -5.195312 9.460938 -8.695312 7.234375 -13.21875 C 5.003906 -17.738281 3.890625 -23.023438 3.890625 -29.078125 C 3.890625 -34.484375 4.820312 -39.539062 6.6875 -44.25 C 8.5625 -48.957031 11.5625 -52.785156 15.6875 -55.734375 C 19.820312 -58.679688 25.085938 -60.15625 31.484375 -60.15625 Z M 31.484375 -60.15625 "
          ></path></g
        ></g
      ></g
    ><g fill="#00387b" fill-opacity="1"
      ><g transform="translate(178.99673, 66.879097)"
        ><g
          ><path
            d="M 22.3125 -43.796875 C 29.132812 -43.796875 34.226562 -41.578125 37.59375 -37.140625 C 40.957031 -32.703125 42.640625 -26.378906 42.640625 -18.171875 L 14.21875 -18.171875 C 14.320312 -15.304688 15.160156 -12.84375 16.734375 -10.78125 C 18.304688 -8.71875 20.578125 -7.6875 23.546875 -7.6875 C 25.421875 -7.6875 26.945312 -8.164062 28.125 -9.125 C 29.3125 -10.09375 30.179688 -11.597656 30.734375 -13.640625 L 42.0625 -11.734375 C 40.625 -7.546875 38.304688 -4.378906 35.109375 -2.234375 C 31.921875 -0.0859375 28.015625 0.984375 23.390625 0.984375 C 16.503906 0.984375 11.296875 -1.078125 7.765625 -5.203125 C 6.109375 -7.128906 4.835938 -9.550781 3.953125 -12.46875 C 3.078125 -15.394531 2.640625 -18.289062 2.640625 -21.15625 C 2.640625 -25.0625 3.34375 -28.734375 4.75 -32.171875 C 6.15625 -35.617188 8.332031 -38.414062 11.28125 -40.5625 C 14.226562 -42.71875 17.90625 -43.796875 22.3125 -43.796875 Z M 14.453125 -25.125 L 31.390625 -25.125 C 31.335938 -28.59375 30.472656 -31.125 28.796875 -32.71875 C 27.117188 -34.3125 25.148438 -35.109375 22.890625 -35.109375 C 20.242188 -35.109375 18.175781 -34.160156 16.6875 -32.265625 C 15.195312 -30.367188 14.453125 -27.988281 14.453125 -25.125 Z M 14.453125 -25.125 "
          ></path></g
        ></g
      ></g
    ><g fill="#00387b" fill-opacity="1"
      ><g transform="translate(224.928552, 66.879097)"
        ><g
          ><path
            d="M 30.578125 -43.796875 C 33.109375 -43.796875 35.304688 -43.367188 37.171875 -42.515625 C 39.046875 -41.660156 40.535156 -40.65625 41.640625 -39.5 C 42.960938 -38.0625 43.828125 -36.363281 44.234375 -34.40625 C 44.648438 -32.457031 44.859375 -30.296875 44.859375 -27.921875 L 44.859375 0 L 33.546875 0 L 33.546875 -23.390625 C 33.546875 -27.347656 33.101562 -30.289062 32.21875 -32.21875 C 31.34375 -34.144531 29.472656 -35.109375 26.609375 -35.109375 C 23.910156 -35.109375 21.816406 -34.335938 20.328125 -32.796875 C 18.835938 -31.253906 17.957031 -29.46875 17.6875 -27.4375 C 17.519531 -26.113281 17.394531 -24.925781 17.3125 -23.875 C 17.226562 -22.832031 17.1875 -21.648438 17.1875 -20.328125 L 17.1875 0 L 5.859375 0 L 5.859375 -42.796875 L 16.609375 -42.796875 L 16.609375 -36.515625 C 17.816406 -38.335938 19.617188 -40.003906 22.015625 -41.515625 C 24.410156 -43.035156 27.265625 -43.796875 30.578125 -43.796875 Z M 30.578125 -43.796875 "
          ></path></g
        ></g
      ></g
    ><g fill="#00387b" fill-opacity="1"
      ><g transform="translate(275.404017, 66.879097)"
        ><g
          ><path
            d="M 17.84375 -42.796875 L 25.53125 -42.796875 L 25.53125 -33.796875 L 17.84375 -33.796875 L 17.84375 -14.953125 C 17.84375 -13.140625 17.910156 -11.789062 18.046875 -10.90625 C 18.191406 -10.019531 18.484375 -9.382812 18.921875 -9 C 19.359375 -8.613281 20.046875 -8.421875 20.984375 -8.421875 C 22.140625 -8.421875 23.65625 -8.78125 25.53125 -9.5 L 26.515625 -0.75 C 25.359375 -0.195312 23.953125 0.226562 22.296875 0.53125 C 20.648438 0.832031 19.082031 0.984375 17.59375 0.984375 C 15.445312 0.984375 13.546875 0.628906 11.890625 -0.078125 C 10.242188 -0.796875 9.035156 -1.757812 8.265625 -2.96875 C 7.429688 -4.351562 6.914062 -5.882812 6.71875 -7.5625 C 6.53125 -9.238281 6.4375 -11.34375 6.4375 -13.875 L 6.4375 -33.796875 L 1.234375 -33.796875 L 1.234375 -42.796875 L 6.4375 -42.796875 L 6.4375 -51.3125 L 17.84375 -58 Z M 17.84375 -42.796875 "
          ></path></g
        ></g
      ></g
    ><g fill="#00387b" fill-opacity="1"
      ><g transform="translate(302.913552, 66.879097)"
        ><g
          ><path
            d="M 22.3125 -43.796875 C 29.132812 -43.796875 34.226562 -41.578125 37.59375 -37.140625 C 40.957031 -32.703125 42.640625 -26.378906 42.640625 -18.171875 L 14.21875 -18.171875 C 14.320312 -15.304688 15.160156 -12.84375 16.734375 -10.78125 C 18.304688 -8.71875 20.578125 -7.6875 23.546875 -7.6875 C 25.421875 -7.6875 26.945312 -8.164062 28.125 -9.125 C 29.3125 -10.09375 30.179688 -11.597656 30.734375 -13.640625 L 42.0625 -11.734375 C 40.625 -7.546875 38.304688 -4.378906 35.109375 -2.234375 C 31.921875 -0.0859375 28.015625 0.984375 23.390625 0.984375 C 16.503906 0.984375 11.296875 -1.078125 7.765625 -5.203125 C 6.109375 -7.128906 4.835938 -9.550781 3.953125 -12.46875 C 3.078125 -15.394531 2.640625 -18.289062 2.640625 -21.15625 C 2.640625 -25.0625 3.34375 -28.734375 4.75 -32.171875 C 6.15625 -35.617188 8.332031 -38.414062 11.28125 -40.5625 C 14.226562 -42.71875 17.90625 -43.796875 22.3125 -43.796875 Z M 14.453125 -25.125 L 31.390625 -25.125 C 31.335938 -28.59375 30.472656 -31.125 28.796875 -32.71875 C 27.117188 -34.3125 25.148438 -35.109375 22.890625 -35.109375 C 20.242188 -35.109375 18.175781 -34.160156 16.6875 -32.265625 C 15.195312 -30.367188 14.453125 -27.988281 14.453125 -25.125 Z M 14.453125 -25.125 "
          ></path></g
        ></g
      ></g
    ><g clip-path="url(#713d2ec856)"
      ><g fill="#00387b" fill-opacity="1"
        ><g transform="translate(348.845374, 66.879097)"
          ><g
            ><path
              d="M 25.78125 -43.796875 C 26.988281 -43.796875 28.265625 -43.601562 29.609375 -43.21875 C 30.960938 -42.832031 32.164062 -42.332031 33.21875 -41.71875 L 29.65625 -31.8125 C 27.726562 -33.019531 25.96875 -33.625 24.375 -33.625 C 22.226562 -33.625 20.601562 -32.894531 19.5 -31.4375 C 18.394531 -29.976562 17.660156 -27.941406 17.296875 -25.328125 C 16.941406 -22.710938 16.765625 -19.226562 16.765625 -14.875 L 16.765625 0 L 5.453125 0 L 5.453125 -42.796875 L 15.953125 -42.796875 L 15.953125 -36.765625 L 16.109375 -36.765625 C 17.484375 -39.078125 18.859375 -40.828125 20.234375 -42.015625 C 21.617188 -43.203125 23.46875 -43.796875 25.78125 -43.796875 Z M 25.78125 -43.796875 "
            ></path></g
          ></g
        ></g
      ></g
    ></svg
  >
</span>
